/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 .responsive-blog-footer {
   background: #4a4a4a;
   padding: 3rem 3rem;
   color: white;
 }

 @media screen and (max-width: 39.9375em) {
   .responsive-blog-footer h4 {
     font-size: 1.5rem;
   }
 }

 .responsive-blog-footer p {
   color: #8a8a8a;
 }

 .responsive-blog-footer .mailing-list {
   margin-bottom: 1.5rem;
 }

 .responsive-blog-footer .mailing-container {
   margin-bottom: 2rem;
 }

 .responsive-blog-footer .about-section, .responsive-blog-footer .tag-section {
   margin-bottom: 2rem;
 }

 .responsive-blog-footer .about-section a, .responsive-blog-footer .tag-section a {
   color: #1779ba;
 }

 .responsive-blog-footer .subscribe-button {
   background-color: #1779ba;
 }

 .responsive-blog-footer .subscribe-button:hover {
   background-color: #146aa3;
   transition: color 0.3s ease-in;
 }

 .responsive-blog-footer .fa-chevron-circle-up {
   font-size: 3rem;
   color: #8a8a8a;
 }

 .responsive-blog-footer .fa-chevron-circle-up:hover {
   color: #b0b0b0;
   transition: color 0.3s ease-in;
 }

 .medium {
    font-size: 25px;
    padding: 0 5px;
}
